{% extends 'base.html.twig' %}
{% block body %}
    <h1>Suppliers list</h1>
    <a href={{ path('get_supplier_local') }}>Get Suppliers Local</a>
    <a href={{ path('get_supplier_importers') }}>Get Suppliers Importers</a>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Number of Parts</th>
        </tr>
        </thead>
        <tbody>
        {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.id }}</td>
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.getParts().count() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
