{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cars list</h1>
    <a href="{{ path('car_index') }}">Car Show</a>
    <a href="{{ path('car_desc') }}">Car Desc</a>
    <a href="{{ path('car_asc') }}">Car Asc</a>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Model</th>
            <th>Travelleddistance</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td><a href="{{ path('car_show', { 'id': car.id }) }}">{{ car.id }}</a></td>
                <td>{{ car.model }}</td>
                <td>{{ car.travelled_distance }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('car_show', { 'id': car.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
